<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sixboys.mapper.DictionaryMapper">

    <select id="selectAll" resultType="dictionary">
        select * from dictionary
    </select>
    <delete id="deleteByid">
        delete from dictionary where id= #{id}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="dictionary">
        insert into dictionary(sn, title, intro) values(#{sn},#{title},#{intro})
    </insert>

    <update id="update">
        update dictionary
        <set>
            <if test="title!=null">
                title =#{title},
            </if>
            <if test="sn!=null">
                sn =#{sn},
            </if>
            <if test="intro!=null">
                intro =#{intro}
            </if>

        </set>
        where id =#{id}
    </update>

    <!--查询总条数-->
    <select id="queryForCount" resultType="int">
        select count(*) from dictionary
        <where>
            <if test="keyword != null and keyword != ''">
                (title like concat('%',#{keyword},'%') or sn like concat('%',#{keyword},'%'))
            </if>
        </where>
    </select>

    <!--    查询当前页显示条数-->
    <select id="queryForList" resultType="dictionary">
        SELECT * FROM dictionary
        <where>
            <if test="keyword != null and keyword != ''">
                (title like concat('%',#{keyword},'%') or sn like concat('%',#{keyword},'%'))
            </if>
        </where>
        LIMIT #{start}, #{pageSize}
    </select>




</mapper>