<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sixboys.mapper.RoleMapper">
    <resultMap id="baseResultMap" type="role">
        <id property="id" column="id"/>
        <result column="sn" property="sn"/>
        <result column="name" property="name"/>
        <collection property="permissions" ofType="cn.sixboys.domain.Permission">
            <result column="b_id" property="id"/>
            <result column="b_name" property="name"/>
            <result column="b_expression" property="expression"/>
        </collection>
    </resultMap>
    <select id="queryForList" resultMap="baseResultMap">
        SELECT a.id,a.sn,a.name,b.id AS b_id,b.name AS b_name,b.expression AS b_expression
        FROM role_permission AS c
        inner JOIN role AS a ON a.id = c.roleId
        inner JOIN permission AS b ON c.permissionId = b.id
        LIMIT #{start}, #{pageSize}
    </select>

    <!--查询总条数-->
    <select id="queryForCount" resultType="int">
        select count(*) from role
    </select>

    <insert id="insert"  useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into role(id, sn, name) VALUE (#{id},#{sn},#{name})
    </insert>

    <insert id="input" parameterType="java.util.List">
        insert into role_permission(roleId,permissionId) values
        <foreach collection="list" item="emp" separator=",">
            (#{emp.roleId},#{emp.permissionId})
        </foreach>
    </insert>

    <delete id="deleteByid">
        delete from role where id= #{id}
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteids">
        delete from
        role_permission
        where roleId in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update">
        update role
        <set>
            <if test="sn!=null">
                sn =#{sn},
            </if>
            <if test="name!=null">
                name =#{name}
            </if>
        </set>
        where id =#{id}
    </update>

    <update id="updateIds">
        update role_permission
        <set>
            <if test="permissionId!=null">
                permissionId =#{permissionId}
            </if>
        </set>
        where roleId =#{roleId}
    </update>

    <select id="selectGetId" resultType="Long">
        select id from role where name = #{name} and sn = #{sn}
    </select>

    <select id="selectAll" resultType="role">
        select id,name from role
    </select>
</mapper>